* {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: Helvetica, sans-serif;
	text-decoration: none;
	color: #fff;
	overflow-x: hidden;
	/* background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%); */
}

a {
	color: #fff;
	text-decoration: none;
}

main.body {
	margin-top: 0 !important;
	position: absolute !important;
	top: 9vh !important;
	width: 100vw !important;
	height: max-content;
	background-image: linear-gradient(to left top, #071e22, #032022, #012221, #00231f, #02251c
		);
	display: flex !important;
	flex-direction: column !important;
	/* gap: 5rem; */
	/* justify-content: center; */
	align-items: center !important;
	padding-bottom: 39px;
}

.heading {
	padding: 15px 15px 0;
	margin-top: 50px;
	text-align: center;
}

.line {
	width: 30%;
}

.description {
	width: 100%;
	text-align: center;
}

.search {
	margin: 30px 0 10px;
	display: flex;
	align-items: center;
	/* flex-wrap: wrap; */
	gap: 20px;
}

.search-box {
	border-radius: 20px;
	padding: 5px;
	width: 450px;
	height: 50px;
	border: 2px solid #fff;
	background-color: transparent;
	color: white;
}

.btn {
	border-radius: 15px;
	/* margin: 10px 50px; */
	font-size: 16px;
	font-weight: 600;
	outline: none;
	border: none;
	border-color: transparent;
	color: #fff;
	background-color: rgba(0, 201, 167, 0.7);
}

.maintance-container {
	width: 100vw;
	height: 39vh;
	margin-left: 21em;
	margin-bottom: 5em;
}

.maintance-container img {
	width: 265px;
	height: 300px;
}

.btn-primary {
	padding: 18px;
}

.categories {
	width: 29%;
	display: flex;
	gap: 50px;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 2rem;
}

.categories::-webkit-scrollbar {
	display: none;
}

.category-item {
	width: max-content;
	padding: 15px;
	border-radius: 10px;
	background-color: aqua;
}

.main-product {
	padding-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 3rem;
	width: 80%;
}

.main-product h1 {
	padding: 0 0 15px;
}

.product-container {
	display: flex;
	flex-wrap: wrap;
	width: 39%;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.product {
	display: flex;
	height: 150px;
	width: 400px;
	gap: 15px;
	background-color: red;
}

.product-detail {
	padding: 5px;
}

.produt-detail p {
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 130px;
}

@media ( max-width : 48em) {
	.search {
		flex-direction: column;
	}
	.main.body {
		padding: 20px 0 !important;
		height: 100vh !important;
	}
	.search-box {
		width: 300px;
		height: 45px;
	}
	.maintance-container {
		margin: 0;
		width: 63vw;
		height: 32vh;
	}
	.maintance-container img {
		width: 189px;
		height: 189px;
		max-width: fit-content;
	}
	.btn-primary {
		padding: 15px;
	}
	.categories {
		width: 60%;
	}
	.main-product {
		flex-direction: column !important;
	}
	.description {
		width: 90%;
		font-size: 14px;
		padding: 0 14px;
	}
	.product {
		width: 350px;
	}
}