body {
	/*background: url('../resources/other/womenAI.png');*/
	background: url("../resources/other/womenAI.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
}

.nav img {
	padding: 10px 20px;
}

form {
	height: 469px;
	width: 300px;
	background-color: rgba(255, 255, 255, 0.03);
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	border-radius: 10px;
	backdrop-filter: blur(3px);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	padding: 91px 35px;
}

form * {
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	letter-spacing: 0.5px;
	outline: none;
	border: none;
}

form h3 {
	font-size: 40px;
	font-weight: 700;
	text-align: center;
}

label {
	display: block;
	margin-top: 30px;
	font-size: 16px;
	font-weight: 500;
}

input {
	display: block;
	height: 50px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 3px;
	padding: 0 10px;
	margin-top: 8px;
	font-size: 14px;
	font-weight: 300;
}

::placeholder {
	color: #e1e1e1;
}

.fa-eye-slash {
	display: none;
}

input:hover {
	outline: 2px solid #0001;
}

button {
	margin-top: 20px;
	width: 100%;
	background-color: #78a083;
	color: #080710;
	padding: 15px 0;
	font-size: 18px;
	font-weight: 600;
	border-radius: 10px;
	cursor: pointer;
}

.forgot {
	font-size: 14px;
}

.error {
	height: 10px;
	font-size: 14px;
	color: red;
	font-weight: 700;
}

.label-container{
	
}

@media ( max-width :48em) {
	body {
		background: url('../resources/other/womenAIvr.png') !important;
		background-size: 100vh !important;
		background-position: 50% 0 !important;
		background-repeat: no-repeat !important;
	}
	form {
		height: 444px !important;
		width: 250px !important;
	}
	form {
		top: 55% !important;
	}
}