* {
	background-color: linear-gradient(to left top, #071e22, #032022, #012221, #00231f, #02251c
		);
}

body {
	margin: 0;
	font-family: Helvetica, sans-serif;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #fff;
	overflow-x: hidden;
	/* background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%); */
}

a {
	color: #fff;
	background-image: linear-gradient(to left top, #071e22, #032022, #012221, #00231f, #02251c
		) !important;
}

main.body {
	margin-top: 0;
	position: absolute;
	top: 10vh;
	display: grid;
	grid-template-columns: 40% 60%;
	width: 100vw;
	height: 90vh;
	background-image: linear-gradient(to left top, #071e22, #032022, #012221, #00231f, #02251c
		);
}

.profile {
	grid-column: 1;
	background-color: rgba(255, 255, 255, 0.03);
	border-radius: 10px;
	backdrop-filter: blur(3px);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	display: flex;
	margin-top: 39px;
	margin-left: 29px;
	/* justify-content: space-evenly; */
	align-items: center;
	flex-direction: column;
	gap: 3px;
	height: 80vh;
	width: 344px;
	backdrop-filter: blur(3px);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	align-items: center
}

.avatar, .profile-navs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px 0;
}

.avatar {
	gap: 30px;
}

.profile-navs {
	flex-direction: row;
	gap: 15px;
}

.article {
	color: #000;
}

.subscription {
	grid-column: 2;
}

form {
	top: 50%;
	left: 50%;
	border-radius: 10px;
	padding: 26px 35px;
}

form * {
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	letter-spacing: 0.5px;
	outline: none;
	border: none;
}

form h3 {
	font-size: 40px;
	font-weight: 700;
	line-height: 42px;
	text-align: center;
	margin: 0 0 5px;
}

.row {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	margin-bottom: 20px;
}

.col {
	display: flex;
	flex-direction: column;
}

label {
	margin-top: 8px;
	font-size: 15px;
	font-weight: 500;
}

input, select {
	height: 40px;
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 3px;
	padding: 0 10px;
	font-size: 14px;
	font-weight: 300;
	width: 290px;
}

select {
	appearance: none;
}

select>option {
	background: #000;
}

::placeholder {
	color: #e1e1e1;
}

input:hover, select:hover {
	outline: 2px solid #0001;
}

.btn-left {
	display: block;
	margin: 0 auto;
	width: 70%;
	background-color: #78a083;
	color: #080710;
	padding: 15px 0;
	font-size: 18px;
	font-weight: 600;
	border-radius: 10px;
	cursor: pointer;
}

button:hover {
	background-color: #5f805e;
}

/* change profile */
.profile-pic {
	color: transparent;
	transition: all 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.profile-pic input {
	display: none;
}

.profile-pic .fr-img {
	position: absolute;
	object-fit: cover;
	width: 135px;
	height: 135px;
	box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
	border-radius: 100px;
	z-index: 0;
}

.profile-pic .-label {
	cursor: pointer;
	height: 165px;
	width: 165px;
}

.profile-pic:hover .-label {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 10000;
	color: rgb(250, 250, 250);
	transition: background-color 0.2s ease-in-out;
	border-radius: 100px;
	margin-bottom: 0;
}

.profile-pic span {
	/* display: inline-flex; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.2em;
	height: 2em;
	z-index: 1;
}

.button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 337px;
	padding: 20px 0 0;
}

.button-container button {
	width: 269px;
}

.btn {
	border-radius: 15px;
	margin: 10px 50px;
	font-size: 16px;
	font-weight: 600;
	outline: none;
	border: none;
	border-color: transparent;
	color: #fff;
	background-color: rgba(0, 201, 167, 0.7);
}

.btn-primary {
	padding: 10px;
}

.btn-nav {
	margin: auto;
	padding: 7px;
}

.btn-in {
	/* border: red 2px solid; */
	background-color: transparent;
}

@media ( max-width : 960px) {
	main.body {
		display: grid;
		top: 10vh;
		grid-template-columns: 50% 50%;
		grid-template-rows: 40% 60%;
		height: min-content !important;
		padding: 20px 0;
	}
	.btn-left{
	width: 169%;
	}
	.profile {
		grid-row: 1;
		grid-column: span 2;
		background-color: rgba(255, 255, 255, 0.03) !important;
		background-color: #5f805e;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		padding: 0 62px;
		gap: 20px;
		flex-wrap: wrap;
		height: min-content;
		width: 40vw;
		margin: 0 52px;
	}
	.subscription {
		grid-row: 2;
		grid-column: span 2;
		height: max-content;
		background-image: linear-gradient(to left top, #071e22, #032022, #012221, #00231f, #02251c
			);
	}
	.article {
		display: none;
	}
	form {
		height: max-content;
		top: 60%;
		width: max-content;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 20px 79px;
	}
	label {
		display: none;
	}
	.row {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: 0;
		grid-gap: 15px;
		margin-bottom: 15px;
	}
	input, select {
		width: 235px;
	}
	.profile-pic {
		padding: 80px 0;
		margin: 0 70px;
	}
	.profile-pic .fr-img {
		width: 85px;
		height: 85px;
	}
	.profile-pic .-label {
		height: 105px;
		width: 105px;
	}
	.button-container {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 0 0;
	}
	.button-container button {
		width: 155px;
		height: 45px;
		font-size: 15px;
	}
}